<% if @current_user %>
  <%= link_to "Profile", user_path(@current_user) %>
  <%= button_to "Logout", logout_path, method: :delete%>
<%else%>
  <%= link_to "Sign In", new_login_path %>
  <%= link_to "Signup", new_user_path %>
<%end%>
 



<h1><%= @movie[:title] %></h1>

<% if @current_user.errors.any? %>
  <% @current_user.errors.full_messages.each do |error| %>
    <p style="color:red;"><%= error %></p>
  <% end %>
<% end %>
<%= image_tag "https://image.tmdb.org/t/p/w200#{@movie.poster}" %>
<h2>Overview:</h2>
<p><%= @movie.overview %> </p>

<h2>Release Date:</h2>
<%= @movie.release_date%><br>

<h3>Favorites: <%= @movie.favorites.count %></h3>




<%= form_tag '/favorites' do %>
    <br>
    <%= hidden_field_tag :user_id, @current_user.id %>
    <%= hidden_field_tag :movie_id, @movie.id %>

    <%= submit_tag "Add Movie to Favorites" %>
<%end%>

<h3>Reviews</h3>
<% @movie.reviews.each do |review| %>
    <h4><%= review.title %></h4>
    <p><%= review.content %></p>
<%end%>

<h2>Write A Review</h2>
<%= form_tag '/reviews' do %>
    <br>
  
    <%= hidden_field_tag :user_id, @current_user.id %>
    <%= hidden_field_tag :movie_id, @movie.id %>

    <%= label_tag :title %>
    <%= text_field_tag :title %><br>

    <%= label_tag :content %>
    <%= text_area_tag :content  %><br>

    <%= submit_tag "Post Review" %>
<%end%>
