<div class="wrapper">
<div class='title'><h1><%= @movie[:title] %></h1></div>

<% if @current_user.errors.any? %>
  <% @current_user.errors.full_messages.each do |error| %>
    <p style="color:red;"><%= error %></p>
  <% end %>
<% end %>

<div class= 'show-image'><%= image_tag "https://image.tmdb.org/t/p/w200#{@movie.poster}" %></div>
<div class= "info">
<h2>Overview:</h2>
<p><%= @movie.overview %> </p>

<h2>Release Date:</h2>
<%= @movie.release_date%><br>

<h3>Favorites: <%= @movie.favorites.count %></h3>
</div>

<div class = "add-fav">
<%= form_tag '/favorites' do %>
    <br>
    <%= hidden_field_tag :user_id, @current_user.id %>
    <%= hidden_field_tag :movie_id, @movie.id %>

    <%= submit_tag("Add Movie to Favorites", :class => "add-fav-btn") %>
<%end%>
</div>

<div class= "reviews">
<h3>Reviews</h3>
<div class = 'review-wrap'>
<% @movie.reviews.each do |review| %>
    
    <h4 class = 'review-head'>@<%= "#{review.user.username} - #{review.title}" %></h4>
    <p class ='review-body'><%= review.content %></p>
<%end%>
</div>
</div>

<div class= "review-form">
<h2>Write A Review</h2>
<%= form_tag '/reviews' do %>
    <br>
  
    <%= hidden_field_tag :user_id, @current_user.id %>
    <%= hidden_field_tag :movie_id, @movie.id %>

    <%= label_tag :title %>
    <%= text_field_tag :title %><br>

    <%= label_tag :content %>
    <%= text_area_tag :content  %><br>

    <%= submit_tag "Post Review" %>
<%end%>
</div>
</div>