<h1>Create an Account</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color:red;"><%= error %></p>
  <% end %>
<% end %>

<% if flash[:not_authorized] %>
  <p><%= flash[:not_authorized] %></p>
<% end %>

<%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br>

    <%= f.label :name %>
    <%= f.text_field  :name %><br>


    <%= f.label :email %>
    <%= f.text_field  :email %><br>

    <%= f.label :password %>
    <%= f.text_field :password %><br>


  <%= f.submit %>
<% end %>