<link rel ='stylesheet' href = 'profile.css'/>
<div class="profile-wrapper">

<div class= 'profile-info'>
<div class = 'profile-header'>My Profile </div>
<p> Username:
<%= @user.username %></p>

<p>Email:
<%= @user.email %></p>

</div>


<div class="user-favorites">
<div class="favorites-header">Favorites</div>
<% @user.favorites.each do |favorite| %>
    <li><%= link_to favorite.movie.title, movie_path(favorite.movie) %>
<%end%>

</div>

<div class= "user-reviews">
<h2>Reviews</h2>

<% @user.reviews.each do |review| %>
    <div id="review-text">
    <h4>Movie: <%= link_to review.movie.title, movie_path(review.movie) %></h4>
    <h5><%= review.title %></h5>
    <%= review.content %>

    <%= button_to "Delete Review", review, method: :delete, class: "delete-review-btn" %>
    </div>
<%end%>

</div>
</div>